# Dependabot: https://docs.github.com/en/code-security/dependabot
version: 2
updates:
  - package-ecosystem: npm
    directory: "/"
    schedule:
      interval: monthly
    open-pull-requests-limit: 5
    labels:
      - dependencies
